.logo-seitan {
    width: 100%;
    align-content: flex-start;
}

.bg-azulito {
    background-color: #d42e22d0;
    margin: auto;
} 

#cuenta-carrito {
    background-color: red;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    text-align: center;
    line height: 20px;
    }

h2 {
    color: whitesmoke;
}

.card {
    background-color: #e94539;
    border-radius: 20px;
    border: none;
        box-shadow: 0 8px 20px rgba(43, 3, 3, 0.35);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
padding-top: 15px;
    }


body {
    background-color: rgba(43, 3, 3, 0.726);
}

.card img {
    border-radius: 20px 20px 0px 0px;
    height: 200px;
    object-fit: cover;
    }

.card:hover {
    transform: translateY(-10px); 
box-shadow: 0 10px 20px rgba(43, 3, 3, 0.726); 
}

.precio {
    text-align: right;
    margin-bottom: 1.5rem;;
}

h5 {
    color: white;
    text-align:center;
    margin-top: 20px;
    padding: 20px;

}

.contacto {
    text-align:center; 
    color: white;
    padding: 40px;       
}

.offcanvas {
    background-color: #e94539;
    color: white;
}
.img-cart {
    width : 100px;
    height:60px ;
    object-fit: cover;
    border-radius: 10px;
}